# Snowflake Connection Configuration Template
SNOWFLAKE_ACCOUNT=your_account_here
SNOWFLAKE_USER=your_username_here
SNOWFLAKE_PASSWORD=your_password_here
SNOWFLAKE_AUTHENTICATOR=
SNOWFLAKE_WAREHOUSE=PRAGATI_WH
SNOWFLAKE_DATABASE=PRAGATI_AI_DB
SNOWFLAKE_SCHEMA=CLEAN_DATA
SNOWFLAKE_ROLE=ACCOUNTADMIN